* {
    margin: 0;
    padding: 0;
  }
body{
    background-color: black;
    color: white;
  }
  
canvas#canvas {
    display: block;
    background: #000;
    height: 100vh;
  }
  
div.controller {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1rem;
  }
.section{
    position: absolute;
    padding-top: 12rem;
    top: 0;
    color: white;
    text-align: center;
    font-family: Pacifico;
    color: rgb(223, 33, 33);
    margin-left: 5vw;
  }
  .red-text {
    color: rgb(255, 237, 237);
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
  }
  .red-text span{
    animation: blink linear infinite 2s;
  }

  @keyframes blink {
    78% {
      color: inherit;
      text-shadow: inherit;
    }
    79%{
       color: #333;
    }
    80% {
      
      text-shadow: none;
    }
    81% {
      color: inherit;
      text-shadow: inherit;
    }
    82% {
      color: #333;
      text-shadow: none;
    }
    83% {
      color: inherit;
      text-shadow: inherit;
    }
    92% {
      color: #333;
      text-shadow: none;
    }
    92.5% {
      color: inherit;
      text-shadow: inherit;
    }
  }